.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.6rem;
    opacity: 0;
    transform: translateY(10px);
    animation: fadeIn 2s ease-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.containerChoice {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.symbolChoice {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 8rem);
    grid-template-rows: repeat(3, 8rem);
    gap: 0.4rem;
}

.cell {
    background-color: var(--tertiary-color);
    font-family: var(--page-titles-font);
    border-radius: 0.2rem;
    width: 8rem;
    height: 8rem;
    border: none;
    font-size: 3rem;
    cursor: pointer;

}

.result {
    background-color: var(--quaternary-color);
    font-size: 1.2rem;
    width: 24.9rem;
    height: 8rem;
    border-radius: 0.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.resultText {
    font-family: var(--body-font);
    color: var(--primary-color);
}

.finalText {
    font-family: var(--page-titles-font);
    font-size: 2rem;
    animation: pulse 1.8s infinite ease-in-out;
}

@keyframes pulse {
    0% {
        color: var(--tertiary-color);
        transform: scale(1);
    }

    50% {
        color: var(--tertiary-color);
        transform: scale(1.1);
    }

    100% {
        color: var(--tertiary-color);    }
}