.card {
    background-color: var(--tertiary-color);
    border: 1px solid rgba(var(--tertiary-color-rgb), 0.8);
    box-shadow: 3px 3px 6px var(--shadow-color);
    border-radius: 0.4rem;
    width: 24rem;
    height: 10rem;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card:hover {
    transform: scale(1.02);
    background-color: var(--tertiary-color);
    box-shadow:
        0 0 2px var(--tertiary-color),
        0 0 4px var(--tertiary-color),
        0 0 10px var(--tertiary-color),
        0 0 20px var(--tertiary-color);
    transition: box-shadow 0.3s ease;
    cursor: pointer;
}

.cardTitle {
    font-family: var(--page-titles-font);
    color: var(--primary-color);
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.description {
    font-family: var(--page-texts-font);
    color: var(--primary-color);
    letter-spacing: 0.02rem;
    font-size: 1rem;
    text-align: center;
}