.button {
    width: 8rem;
    height: 2rem;
    border-radius: 0.2rem;
    background-color: var(--tertiary-color);
    border: none;
    color: var(--primary-color);
    cursor: pointer;
    font-family: var(--page-texts-font);
    box-shadow: 1px 1px 5px var(--tertiary-color);
}

.selected {
    background-color: var(--color-blue-selected);
    opacity: 0.6;
}